.about-pg{
    /* background-color: rgb(4, 42, 52); */
    height: 95vh;
    width: 100%;
    /* background-image: linear-gradient(135deg, #536976 10%, #292E49 100%); */
    background-image: linear-gradient(135deg, #93a5cf 10%, #e4efe9 100%);
}

.inner-card{
    /* display: flex; */
    position: relative;
    top: 100px;
    left: 240px;

    width: 75%;
    height: 70vh;
    /* background: rgba(254, 254, 255, 0.4); */
    /* background-image: linear-gradient(135deg, #243949 10%, #517fa4 100%); */
    /* background-image: linear-gradient(135deg, #f5f7fa 10%, #c3cfe2 100%); */
    background-image: linear-gradient(135deg, #9795f0 10%, #fbc8d4 100%);
    box-shadow: 3px 5px 15px;
   
}

.inner-card .why-txt{
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    padding: 8px;
    
}
.why-txt > h1{
    font-size: 2.5rem;
    display: block;
    position: relative;
    text-align: center;

    
}
.why-txt >h3{
       font-size: 2rem;
       text-align: center;
       
}

.why-txt > p{
    font-size: 1.5rem;

}

.purpose-txt{
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}


.purpose-txt >h2{
    text-align: center;
    font-size: 2.1rem;
}

.purpose-txt >p{
    font-size: 1.3rem;

}

.btn{
    display: inline-block;
    position: relative;
    left: 30px;

}
/* .btn .button-about{
    border-radius: 4px;
    position: relative;
    bottom: -90px;
    left: 510px;
    font-size: 20px;
    background-color: #114471;
} */

@media only screen and (max-width: 700px) {

    .about-pg{
        
        /* background-color: rgb(4, 42, 52); */
        height: 145vh;
        width: 100%;
        /* background-image: linear-gradient(135deg, #536976 10%, #292E49 100%); */
        background-image: linear-gradient(135deg, #93a5cf 10%, #e4efe9 100%);
    }


    .inner-card{
        /* display: flex; */
    position: relative;
    top: 15px;
    left: 8px;
    border-radius: 8px;
    width: 95%;
    height: 140vh;
    /* background: rgba(254, 254, 255, 0.4); */
    background-image: linear-gradient(135deg, #243949 10%, #517fa4 100%);
    box-shadow: 0px 10px 15px;
        
    }

    .why-txt >h3{
        font-size: 2rem;
        text-align: center;
    }

    
.why-txt > p{
    font-size: 1.3rem;

}
    
.purpose-txt{
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    padding: 8px;
}

.purpose-txt >h2{
    text-align: center;
    font-size: 2.1rem;
}

.purpose-txt >p{
    font-size: 1.3rem;

}


.btn{
    display: inline-block;
    position: relative;
    left: 100px;

}
    
}