.card{
    font-family: 'Poppins', sans-serif;

   position: relative;
   width: 1000px;
   height: 400px;
   padding: 50px;
   background: rgba(50, 70, 102, 0.4);
   border-radius: 10px;
   box-shadow: 0px 5px 15px rgba(0,0,0,.25);
   top: 10%;
   left: 25%;
   justify-content: center;
    display: flex;
   
}
 
.txth1{
    font-size: 2.7rem;
}


.card .left{
    flex: 70%;
    position: relative;
    top: 15%;
}

.card .right{
    position: relative;
    right: 1px;
    flex: 30%;
}
 
 
.card .left h1{
    display: inline-flex;
    flex-direction: row;
    color: rgb(245, 250, 248);
}

.btn Button{
    border-radius: 4px;
     position: relative;
     bottom: -90px;
     left: -260px;
    font-size: 20px;
    background-color: #114471;
}
.btn Button:hover{
    background-color: white;
    color: black;
}
  
.btn{
    margin-top: 30px;
}

@media  only screen and (max-width:700px) {
    .card{

        font-family: 'Poppins', sans-serif;
        position: relative;
        /* max-width: 800px; */
        height: 428px;  /*575*/
        padding: 32px;
        background: rgba(50, 70, 102, 0.4);
        /* background-image: linear-gradient(135deg, #434343 10%, #000000 100%); */
        border-radius: 10px;
        box-shadow: 0px 5px 15px rgba(0,0,0,.25);
        top: 80px;
        width: 292px;

        left: 10px;
        justify-content: center;
         display: flex;
         font-size: 2rem;

         flex-wrap: wrap;

    }

    .card .left h1{
        display: inline-flex;
        flex-direction: row;
        color: rgb(245, 250, 248);
        font-size: 2rem;
       
    }
    .card .left{
       
        flex: 10%;
    }
    .card .right{
        display: none;
    }

    
.btn Button{
    border-radius: 15px;
     position: relative;
     bottom: -40px;
     left: -21px;
    font-size: 20px;
    background-color: #114471;
}
}
/* 
@media only  screen and (min-width:800px) and (max-width: 1400px) {
    .card{

        font-family: 'Poppins', sans-serif;
        position: relative;
        
        height: 370px;
        padding: 40px;
        background: rgba(50, 70, 102, 0.4);
        border-radius: 10px;
        box-shadow: 0px 5px 15px rgba(0,0,0,.25);
        top: 25%;
        width: 320px;

        left: 2%;
        justify-content: center;
         display: flex;
         font-size: 2rem;

         flex-wrap: wrap;

    }

    .card .left h1{
        display: inline-flex;
        flex-direction: row;
        color: rgb(245, 250, 248);
        font-size: 2rem;
    }
    .card .left{
        flex: 10%;
    }
    .card .right{
         display: flex;
         position: relative;
         flex:30%;
         left:5%;
    }
    .card .right>img{
        position: relative;
        right:2%;
    }
} */
